<div class="container">
<h1>List of Bikes</h1>
<div class="well">
<ul>
	<% @bikes.each do |b| %>
	<li>
		<%= "#{b.name} - #{b.description} $#{b.price}"  %>
	
	</li>
		<% end %>
</ul>
</div>


<% if !flash[:error].nil? %>
<div class="alert alert-error">
<button type="button" class="close" data-dismiss="alert">×</button>
<strong><%= flash[:error] %></strong>
</div>
<% end %>
</div>